@import '../../../assets/styles/extend_fonts.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/header.scss';
@import '../../../assets/styles/footer.scss';

.sample-project {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 30px;

}

.sample-project__title {

    margin-top: 60px;
}

.sample-project__title_title-fist-line {
    @extend %title-first-line_font;

}

.sample-project__title_title-second-line {
    @extend %title-second-line_font;
}

.sample-project__title::after {

    content: "";
    display: flex;
    background-color: $border-buttons-color;
    margin-top: 30px;


    height: 1px;
    flex-shrink: 0;



}

.sample-project_image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sample-project_image-container__image-first img,
.sample-project_image-container__image-third img,

.sample-project_image-container__image-text {
    width: 100%;
    height: auto;
}

.sample-project_image-container__image-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 2rem 0;
}

.sample-project_image-container__image-text__text {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem 3rem 3rem;

    @extend %text_font;
}

.sample-project_image-container__image-third {
    margin-bottom: 120px;
}

@media screen and (max-width: 424px) {
    .sample-project {
        gap: 10px;

    }

    .sample-project__title>div {
        font-size: 26px;
        line-height: 26px;

    }

    .sample-project_image-container__image-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sample-project_image-container>div>img {
        max-width: 100%;

    }

    .sample-project_image-container__image-text>div>img {
        max-width: 100%;
    }

    .sample-project_image-container__image-text__image-second {
        text-align: center;


    }

    .sample-project_image-container__image-text__text {
        padding: 0 1rem 1rem 1rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .sample-project {
        gap: 10px;

    }

    .sample-project__title>div {
        font-size: 30px;
        line-height: 30px;

    }

    .sample-project_image-container__image-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sample-project_image-container>div>img {
        max-width: 100%;

    }

    .sample-project_image-container__image-text>div>img {
        max-width: 100%;
    }

    .sample-project_image-container__image-text__image-second {
        text-align: center;
    }

    .sample-project_image-container__image-text__text {
        padding: 0 1rem 1rem 1rem;
    }
}