@import '../../../assets/styles/extend_fonts.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/header.scss';
@import '../../../assets/styles/footer.scss';

.certification-page {
    padding-left: 5vw;
    padding-right: 5vw;

}

.certification-page__title {
    margin-top: 60px;

}

.certification-page__title::after {
    content: "";
    display: flex;
    background-color: $border-buttons-color;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 1px;
    flex-shrink: 0;

}

.certification-page__title_title-fist-line {
    @extend %title-first-line_font;
}

.certification-page__title_title-second-line {
    @extend %title-second-line_font;
}

.certification-page__image-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 50%);
    margin: 5em 0;

}

.certification-page__image-container>div>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 424px) {
    .certification-page__title>div {
        font-size: 26px;
        line-height: 26px;
    }

    .certification-page__image-container {
        grid-gap: 1px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 16%);


    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {


    .certification-page__title>div {
        font-size: 30px;
        line-height: 30px;
    }

    .certification-page__image-container {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 30%);


    }
}