%header_font {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
}

%footer-title_font {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

%footer_font {
    text-decoration: none;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    text-decoration: none;
}

%title-first-line_font {
    color: #BDBDBD;
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    /* 100% */
}

%title-second-line_font {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 100% */
}

%text_font {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    /* 156.25% */
}

%text-medium-size_font {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 163.636% */
}

%button-text-dark_font {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

%button-text-white_font {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 100% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

%input-text_font {
    color: #8D8D8D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
}

%projects-page_font {
    font-family: Roboto, sans-serif;
}

%progects-page__page-name_font {

    font-size: 64px;
    font-style: normal;
    line-height: 64px;

}

%projects-page__description-block__text__title_font {

    font-size: 40px;
    font-style: normal;
    font-weight: 300;

}

%projects-page__description-block__text__content_font {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}


%projects-page__description-block__text__view-more-button_font {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.4px;
}

%projects-page__pagination_font {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}