@import '../../../assets/styles/extend_fonts.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/header.scss';
@import '../../../assets/styles/footer.scss';



.projects-page {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5vw;
    padding-right: 5vw;

}

.projects-page__title {
    margin-top: 60px;
}

.projects-page__title_title-fist-line {
    @extend %title-first-line_font;

}

.project-page__title_title-second-line {
    @extend %title-second-line_font;
}

.projects-page__title::after {

    content: "";
    display: flex;
    background-color: $border-buttons-color;
    margin-top: 30px;


    height: 1px;
    flex-shrink: 0;

}

.projects-page__description-block {

    background-color: $primary-color;
    display: flex;
    flex-direction: row;

}

.projects-page__description-block__image {
    text-align: left;
    height: auto;
    object-fit: cover;

}

.projects-page__description-block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.projects-page__description-block__text__title {
    color: $accent-color;
    @extend %projects-page__title_font;
}

.projects-page__description-block__text__content {
    display: flex;
    flex-wrap: wrap;
    @extend %text_font;
}

.projects-page__description-block__text__view-more-button {
    padding: 5rem, 5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: $buttons-color;
    margin-top: 30px;
    text-decoration: none;
    @extend %button-text-dark_font;
}

.projects-page__description-block__text__view-more-button:hover {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-decoration: none;
    background-color: $border-buttons-color;
}

.projects-page__description-block__text__view-more-button::after {
    content: "\2192";
    margin-left: 20px;
}

.projects-page__pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 75px 0 120px;
    @extend %projects-page__pagination_font;
}

.projects-page__pagination__current-page {
    color: $secondary-color;
    margin-right: 1rem;

}

.projects-page__pagination__next-page {
    color: $accent-color;
}

.projects-page__pagination__arrow-left,
.projects-page__pagination__arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border: 1px solid $border-buttons-color;
    background-color: $arrow-buttons-color;
    margin-left: 29px;
    cursor: pointer;
}

.projects-page__pagination__arrow-left:hover,
.projects-page__pagination__arrow-right:hover {
    background-color: $border-buttons-color;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.projects-page__pagination__arrow-left svg,
.projects-page__pagination__arrow-right svg {
    width: 17.2px;
    height: 8px;
}

@media screen and (max-width: 424px) {
    .projects-page__title>div {
        font-size: 26px;
        line-height: 26px;

    }

    .projects-page__description-block {

        background-color: $primary-color;
        display: flex;
        flex-direction: column;


    }

    .projects-page__description-block__text__title {
        font-size: 24px;
    }

    .projects-page__description-block__text__view-more-button {
        margin-bottom: 1rem;
    }

    .projects-page__description-block>div>img {
        max-width: 100%;
    }

    .projects-page__description-block__image {
        text-align: center;
    }
}


@media screen and (min-width: 425px) and (max-width: 767px) {
    .projects-page__title>div {
        font-size: 30px;
        line-height: 30px;

    }

    .projects-page__description-block {

        background-color: $primary-color;
        display: flex;
        flex-direction: column;
    }

    .projects-page__description-block__text__title {
        font-size: 28px;
    }

    .projects-page__description-block__text__view-more-button {
        margin-bottom: 1rem;
    }

    .projects-page__description-block>div>img {
        max-width: 100%;
    }

    .projects-page__description-block__image {
        text-align: center;
    }
}