@import '../../../assets/styles/extend_fonts.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/header.scss';
@import '../../../assets/styles/footer.scss';



.projects-page {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 135px;
    @extend %projects-page_container_font;
}

.progects-page__page-name {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 278px;
    height: 128px;
    @extend %progects-page__page-name_font;

}

.progects-page__page-name__word {
    color: $accent-color;
    font-weight: 300;

}

.progects-page__page-name__word+.progects-page__page-name__word {
    color: $secondary-color;
    font-weight: 700;
}

.progects-page__page-name::after {

    content: "";
    display: flex;
    background-color: $border-buttons-color;
    margin: 30px 0 29px;
    width: 85vw;
    height: 1px;
    flex-shrink: 0;


}

.projects-page__description-block {

    background-color: $primary-color;
    display: flex;
    flex-direction: row;

}

.projects-page__description-block__image {
    text-align: left;
    height: auto;
    object-fit: cover;

}



.projects-page__description-block__text__title {

    margin: 30px 0 0 30px;
    color: $accent-color;
    @extend %projects-page__description-block__text__title_font;
}

.projects-page__description-block__text__content {
    width: 400px;
    height: 120px;
    margin: 73px 0 0 30px;
    @extend %projects-page__description-block__text__content_font;
}



.projects-page__description-block__text__view-more-button {
    padding: 5rem, 5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: $buttons-color;
    margin: 64px 30px 30px;
    text-decoration: none;
    @extend %projects-page__description-block__text__view-more-button_font;
}

.projects-page__description-block__text__view-more-button::after {
    content: "\2192";
    margin-left: 20px;
}



.projects-page__pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 75px 0 120px;
    @extend %projects-page__pagination_font;
}

.projects-page__pagination__current-page {
    color: $secondary-color;
    margin-right: 1rem;

}

.projects-page__pagination__next-page {
    color: $accent-color;
}

.projects-page__pagination__arrow-left,
.projects-page__pagination__arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border: 1px solid $border-buttons-color;
    background-color: $arrow-buttons-color;
    margin-left: 29px;
    cursor: pointer;
}

.projects-page__pagination__arrow-left svg,
.projects-page__pagination__arrow-right svg {
    width: 17.2px;
    height: 8px;
}