@charset "UTF-8";
.navigation__item {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__title {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts-navigation__item, .information-navigation__item {
  text-decoration: none;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}

.projects-page__title_title-fist-line {
  color: #BDBDBD;
  font-family: Roboto, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  /* 100% */
}

.project-page__title_title-second-line {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 100% */
}

.projects-page__description-block__text__content {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* 156.25% */
}

.projects-page__description-block__text__view-more-button {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.projects-page__description-block__text__title {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.projects-page__pagination {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 8vw;
  padding-right: 8vw;
}
@media screen and (max-width: 767px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.header__logo {
  width: 68.552px;
  height: 41.527px;
  padding-right: 20px;
  background-image: url(../images/DP_logo.svg);
  background-repeat: no-repeat;
}

.header__navigation {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__navigation {
    flex-wrap: wrap;
    gap: 15px;
  }
}

.navigation__item {
  display: flex;
  flex-basis: auto;
  cursor: pointer;
  flex-basis: auto;
}

.navigation__item:hover {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #2C2C2C;
}

.footer__logo {
  width: 145px;
  height: 94px;
  background-image: url(../images/DP_logo_white1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

.footer__information-navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .footer__information-navigation {
    gap: 3px;
  }
}

.footer__title {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .information-navigation__item {
    font-size: 12px;
  }
}

.footer__contacts-navigation {
  display: grid;
  grid-template-columns: 20px 1fr;
}
@media screen and (max-width: 499px) {
  .footer__contacts-navigation {
    display: none;
  }
}

.contacts-navigation__icon {
  justify-self: center;
}

.contacts-navigation__item {
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  .contacts-navigation__item {
    font-size: 12px;
  }
}

.contacts-navigation__title {
  grid-column: span 2;
}

.footer__social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 1fr;
  grid-column-gap: 20px;
}
@media screen and (max-width: 767px) {
  .footer__social-media {
    grid-column-gap: 10px;
  }
}
@media screen and (max-width: 499px) {
  .footer__social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.social-media__title {
  grid-column: span 4;
}

.copyright {
  display: block;
  width: 100vw;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(200, 200, 200, 0.5);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}
@media screen and (max-width: 767px) {
  .copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
}

.projects-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.projects-page__title {
  margin-top: 60px;
}

.projects-page__title::after {
  content: "";
  display: flex;
  background-color: #f2f2f2;
  margin-top: 30px;
  height: 1px;
  flex-shrink: 0;
}

.projects-page__description-block {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
}

.projects-page__description-block__image {
  text-align: left;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-page__description-block__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
}

.projects-page__description-block__text__title {
  color: #bdbdbd;
}

.projects-page__description-block__text__content {
  display: flex;
  flex-wrap: wrap;
}

.projects-page__description-block__text__view-more-button {
  padding: 5rem, 5rem;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 71px;
  background: #fff;
  margin-top: 30px;
  text-decoration: none;
}

.projects-page__description-block__text__view-more-button:hover {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  text-decoration: none;
  background-color: #f2f2f2;
}

.projects-page__description-block__text__view-more-button::after {
  content: "→";
  margin-left: 20px;
}

.projects-page__pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 75px 0 120px;
}

.projects-page__pagination__current-page {
  color: #333333;
  margin-right: 1rem;
}

.projects-page__pagination__next-page {
  color: #bdbdbd;
}

.projects-page__pagination__arrow-left,
.projects-page__pagination__arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border: 1px solid #f2f2f2;
  background-color: #f9f9f9;
  margin-left: 29px;
  cursor: pointer;
}

.projects-page__pagination__arrow-left:hover,
.projects-page__pagination__arrow-right:hover {
  background-color: #f2f2f2;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.projects-page__pagination__arrow-left svg,
.projects-page__pagination__arrow-right svg {
  width: 17.2px;
  height: 8px;
}

@media screen and (max-width: 424px) {
  .projects-page__title > div {
    font-size: 26px;
    line-height: 26px;
  }
  .projects-page__description-block {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
  }
  .projects-page__description-block__text__title {
    font-size: 24px;
  }
  .projects-page__description-block__text__view-more-button {
    margin-bottom: 1rem;
  }
  .projects-page__description-block > div > img {
    max-width: 100%;
  }
  .projects-page__description-block__image {
    text-align: center;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .projects-page__title > div {
    font-size: 30px;
    line-height: 30px;
  }
  .projects-page__description-block {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
  }
  .projects-page__description-block__text__title {
    font-size: 28px;
  }
  .projects-page__description-block__text__view-more-button {
    margin-bottom: 1rem;
  }
  .projects-page__description-block > div > img {
    max-width: 100%;
  }
  .projects-page__description-block__image {
    text-align: center;
  }
}/*# sourceMappingURL=projects.css.map */